.error {
  display: block;
  margin: 12px 0 0;
  font-size: 18px;
  color: red;
  text-align: right;
}

.selectError {
  border: 2px solid red;
}

.inputError {
  border: 3px solid red;
  border-radius: 12px;
}

.button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.heroFormDirectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin: 0 0 60px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 24px;
  }
}

.heroFormDirectionWrapperRow {
  margin: 0;
}

.heroFormDateWrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  div {
    width: 100%;
  }
}

.heroFormDateItem {
  width: 322px;
  height: 57px;
  border-radius: 3px;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.heroFormButton {
  border: none;
  display: block;
  margin: 92px 0 0 auto;
  border-radius: 5px;
  background: #ffa800;
  cursor: pointer;
  color: #292929;
  padding: 16px 68px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: 800px) {
    margin: 46px 0 0 auto;
    padding: 16px 0;
    width: 100%;
    font-size: 16px;
  }
}

.heroFormButtonRow {
  margin: 46px 0 0 auto;

  @media screen and (max-width: 800px) {
    margin: 24px 0 0 auto;
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
}

.inputsWrapperRows {
  display: flex !important;
}

.heroFormRow {
  display: grid;
  gap: 34px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;

  @media screen and (max-width: 1400px) {
    grid-template-columns: 1fr;
  }
}
