.steps {
  background: #3e3c41;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 280px 280px 1fr;
  margin: 0;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  height: 98px;
  gap: 28px;

  &::before {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 39px;
    height: 102%;
    background: url('/public/svg/Steps/array.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
}

.step:last-of-type {
  &::before {
    display: none;
  }
}

.stepActive {
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    min-width: 620px;
    height: 100%;
    background: url('/public/svg/Steps/figureActive.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.stepText {
  position: relative;
  z-index: 2;
}
