.sortWrapper {
  padding: 44px 30px;
  background: #3e3c41;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #928f94;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.headerCount {
  margin: 0;
}

.headerSort {
  display: flex;
  gap: 48px;
}

.headerSelectWrapper {
  display: flex;
}

.tickets {
  list-style-type: none;
  padding: 0;
  margin: 48px 0 0;
}
