.reviews {
  padding: 152px 10px 124px;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    padding: 46px 10px;
  }
}

.reviewsTitle {
  margin: 0 0 48px;
  font-size: 36px;
  color: #292929;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 800px) {
    margin: 0 0 36px;
    font-size: 24px;
  }
}

.reviewsSlider {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 85px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 42px;
  }
}

.sliderItem {
  display: grid;
  gap: 34px;
  grid-template-columns: 200px 1fr;

  @media screen and (max-width: 800px) {
    gap: 12px;
    grid-template-columns: 100px 1fr;
  }
}

.sliderItemImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  @media screen and (max-width: 800px) {
    width: 100px;
    height: 100px;
  }
}

.sliderItemTitle {
  margin: 0 0 24px;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  line-height: normal;

  @media screen and (max-width: 800px) {
    margin: 0 0 16px;
    font-size: 16px;
  }
}

.sliderItemDesc {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;

  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

.reviewsSliderDots {
  position: relative !important;
  margin: 134px auto 0 !important;
  bottom: 0 !important;

  @media screen and (max-width: 800px) {
    margin: 64px auto 0 !important;
  }
}

.reviewsSliderDots li {
  width: 20px !important;
  height: 20px !important;
}

.reviewsSliderDots li button {
  width: 20px !important;
  height: 20px !important;
  background: #e5e5e5 !important;
  border-radius: 50% !important;
}

.reviewsSliderDots .slick-active {
  background: #c4c4c4 !important;
}
